<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/ariuser5/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ariuser5" />
      <add key="ClearTextPassword" value="<-- YOUR_GITHUB_TOKEN -->" />
    </github>
  </packageSourceCredentials>
</configuration>